/*reset*/
* {
    margin: 0px;
    padding: 0px;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    background: #fff;
    text-align: left;
    font-size: 16px;
    color: darkslategrey;
    display: flex;
}
aside {
    background-color: teal;
    color: rgba(255,255,255,.6);
    height: 100vh;
}
#toggle {
    display: none;
}
main {
    display: grid;
    grid-template: 1fr 2fr 1fr 3fr / repeat(4,1fr);
    grid-gap: 1rem;
    width: 100vw;
    height: 100vh;
}
header {
    background-color: thistle;
    grid-area: 1 / 1 / 2 / 5;
}
header h2 {
    float: left;
}
header i {
    float:right;
}
header figure {
    position: fixed;
    right: 1rem;
}
.welctip {
    background-color: darkturquoise;
    display: flex;
    justify-content: space-between;
    grid-area: 2 / 1 / 3 / 5;
}
#playpen {
    display: none;
}
#progress {
    background-color: turquoise;
}
.currproj {
    background-color: violet;
    grid-area: 3 / 1 / 4 / 3;
}
.otherproj {
    grid-area: 3 / 3 / 4 / 5;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
}
#archproj {
    background-color: lightpink;
    width: 50%;
}
#futproj {
    background-color: hotpink;
    width: 50%;
}
.cptasks {
    background-color: lightskyblue;
    grid-area: 4 / 1 / 5 / 2;
}
.calendar {
    background-color: lightsteelblue;
    grid-area: 4 / 2 / 5 / 4;
}
#calwrap {
    margin: 0px auto;
}
.deadlines {
    background-color: mediumaquamarine;
    grid-area: 4 / 4 / 5 / 5;
}