/*reset*/
* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: inherit;
}
figure,ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
ul {
    list-style-type: none;
}
/*end reset*/
body {
    font-family: Helvetica, Arial, sans-serif;
    background: #fff;
    text-align: left;
    font-size: 16px;
    color: rgb(72, 92, 92);
    display:flex;
    width: 100vw;
    max-height: 100vh;
}
.boxy {
    padding: .5rem;
    background-color: rgb(153, 204, 204);
}
.boxyp {
    padding: 1rem;
    background-color: rgb(204, 232, 232);
}
/*start sidebar*/
aside {
    background-color: teal;
    color: rgba(255,255,255,.6);
    height: 100vh;
    width: 220px;
    grid-area: side;
}
aside h1 {
    margin-top: 1rem;
    padding-left: 10%;
}
aside i {
    margin-right: .5rem;
    vertical-align: -.3rem;
}
aside ul {
    margin: 10vh 0 30vh 0;
    padding-left: 10%;
}
aside li {
    line-height: 2.5;
}
aside li:hover {
    text-transform: uppercase;
}
aside li:active {
    background-color: rgba(255,255,255,.2);
}
aside figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3rem;
    border-top: 1px dashed rgba(255,255,255,.6);
    font-size: .8rem;
}
aside figure img {
    border-radius: 50%;
    width: 45%;
    min-width:2rem;
    align-self: center;
    padding: 3px;
    border: .75px solid rgba(255,255,255,.6);
    margin-bottom: .5rem;
}
#fcalt {
    display: none;
}
#toggle {
    display: none;
}
/*end sidebar start main*/
main {
    grid-area: main;
    display: grid;
    grid-template: 1fr 2fr 3fr 4fr / repeat(4,1fr);
    /*pretrial version: 1fr 2fr 1fr 3fr - change does nothing*/
    grid-gap: 1rem;
    grid-template-areas:
    "hello hello hello hello"
    "welcome welcome welcome welcome"
    "project1 calendar calendar project2"
    "tasks calendar calendar dlines";
    width: 100%;
    margin: 0 1rem;
}
h2, h3 {
    line-height: 2;
    text-align: center;
}
/*start header*/
header {
    grid-area: hello;
    padding-top: .5vh;
    display: flex;
    justify-content: space-between;
}
header h2 {
    line-height: 2;
    font-style: italic;
}
#headbreak {
    display: none;
}
.hideabout {
    visibility: hidden;
}
header h2:hover + .hideabout {
        visibility: visible;
}
#hright {
    display: flex;
}
header i {
    align-self: center;
    margin-right: 1rem;
}
header i:hover {
    color: rgba(47,79,79,.2);
}
.search {
    height: 2rem;
    align-self: center;
}
.sbtn {
    color: rgb(72, 92, 92);
    float: right;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stxt {
    border: none;
    background: none;
    outline: none;
    color: rgb(72,92,92);
    transition: 0.3s;
    width: 0px;
}
.search:hover > .stxt{
    width: 240px;
    padding: 0 6px;
}
.search:hover {
    background: rgba(0,128,128,.05);
}
header figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 1.5rem;
    border-left: .5px solid rgba(47,79,79,.6);
    height: 100%;
}
#hright img {
    border-radius: 50%;
    padding: 2px;
    border: .5px solid rgba(47,79,79,.6);
    width: 7.5vh;
    height: 7.5vh;
}
/*end header start welcome*/
.welctip {
    display: flex;
    justify-content: space-between;
    grid-area: welcome;
    text-align: center;
}
#mood {
    width: 40%;
}
#slidewrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
  }
.slider {
    -webkit-appearance:none;
    width: 80%;
    height: 20px;
    background: linear-gradient(to right, rgba(255,255,255,0), teal 50%, rgba(255,255,255,0));
    opacity: .6;
    -webkit-transition: .1s;
    transition: opacity .1s;
}
.slider:hover {
    opacity: 1;
}
datalist {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-top: .5rem;
    margin-left: -2%;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 4px;
    border: 2px solid seagreen;
    background-image: url('./img/smiley.jpg');
    background-size: contain;
    cursor: pointer;
}
#inspo {
    width: 60%;
}
#twitwrap {
    padding-bottom: -40%;
    overflow: hidden;
    position: relative;
}
#twitwrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.currproj {
    grid-area: project1;
}
.currproj h2,h4 {
    padding-bottom: 1rem;
}
/*.currproj i {
}*/
.currproj p {
    padding-left: 1rem;
}
.otherproj {
    grid-area: project2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#archproj {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#archproj ul {
    list-style-type: circle;
}
#futproj {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*to do list styling*/
.cptasks {
    grid-area: tasks;
}
.cptasks h2 {
    text-align: center;
}
.todo {
    margin: 1rem 0 0 2rem;
}
.todo li {
    line-height: 2;
}
.checky {
    margin:0 -200px;
    color: rgba(48,48,100,0);
    border: 1px solid teal;
    border-radius: 25%;
    padding: .25rem auto;
    z-index:1;
    width: 1rem;
    height: 1rem;
    font-size: 1rem !important;
  }
  .todo input[type=checkbox] {
    opacity: 0;
    cursor: pointer;
    z-index:10;
  }
  .todo input[type=text] {
    border: none;
    border-bottom: .5px solid rgba(0,0,0,.4);
    width: 175px;
    background-color: rgba(255,255,255,0);
  }
  #check1:checked + #txt1 {
    text-decoration: line-through;
  }
  input[type=checkbox]:checked ~ i {
    color: rgba(48,48,100,1);
  }
  #check2:checked + #txt2 {
    text-decoration: line-through;
  }
  #check3:checked +#txt3 {
    text-decoration: line-through;
  }
  #check4:checked + #txt4 {
    text-decoration: line-through;
  }
  #check5:checked +#txt5 {
    text-decoration: line-through;
  }
 /* #check6:checked + #txt6 {
    text-decoration: line-through;
  }*/
/*end to do list*/
/*killed this feature
.calendar {
    grid-area: calendar;
}
#calwrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#calwrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    size: contain;
}*/
.newmusic {
    grid-area: calendar;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 0;
}
#musicbox {
    padding-top: 50%;
    overflow: hidden;
    position: relative;
    width: 85%;
}
#musicbox iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.deadlines {
    grid-area: dlines;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.deadlines thead{
    display: none;
}
.deadlines td {
    padding: 1rem;
    margin: 1rem;
}
@media only screen and (max-width:650px) {
    #headbreak {
        display: inline;
    }
    header h2 {
        line-height: 1.2;
    }
}
@media only screen and (min-width:701px) and (max-width:1231px) {
    main {
        grid-template: repeat(4,2fr) / repeat(2,2fr);
        grid-gap: 1rem;
        width: 100vw;
        height: 100vh;
        grid-template-areas:
        "hello hello"
        "welcome welcome"
        "project1 project2"
        "calendar calendar"
        "tasks dlines";
        margin-left: 1rem;
    }
}
@media only screen and (max-width: 700px) {
    html {
        font-size: 10px;
    }
    main {
        grid-template: repeat(7,1fr) / repeat(1,1fr);
        grid-gap: .25rem;
        width: 100vw;
        height: 100vh;
        grid-template-areas:
        "hello"
        "welcome"
        "project1"
        "project2"
        "tasks"
        "calendar"
        "dlines";
        margin-left: .25rem;
    }
    aside {
        width: 10vw;
    }
    aside span {
        display:none;
    }
    #fcmain {
        display: none;
    }
    #fcalt {
        display:block;
    }
    .welctip {
        display: flex;
        flex-flow: column wrap;
    }
    .welctip h3 {
        padding-top: 2rem;;
    }
    #mood {
        width: 100%;
    }
    #inspo {
        width: 100%;
    }
}